{% extends 'base.html.twig' %}

{% block body %}
    {% for conference in conferences %}
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                    <i class="material-icons">settings_voice</i>
                </header>
                <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__supporting-text">
                        <h4>New conference</h4>
                        Created by <b>{{ conference.owner }}</b> at {{ conference.created|date("m/d/Y") }}
                        <br/>
                        {% if conference.status == 1 %}
                            <ul>
                                <li>Conference is <b>open</b>.</li>
                            </ul>
                        {% else %}
                            <ul>
                                <li>Conference is <b>closed</b>.</li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions">
                        <a <a href="{{ path("conference", {'id': conference.id}) }}">View details</a>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1"
                        data-upgraded=",MaterialButton,MaterialRipple">
                    <i class="material-icons">more_vert</i>
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                <div class="mdl-menu__container is-upgraded">
                    <div class="mdl-menu__outline mdl-menu--bottom-right"></div>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1"
                        data-upgraded=",MaterialMenu">
                        <li class="mdl-menu__item" tabindex="-1">Lorem</li>
                        <li class="mdl-menu__item" disabled="" tabindex="-1">Ipsum</li>
                        <li class="mdl-menu__item" tabindex="-1">Dolor</li>
                    </ul>
                </div>
            </section>
        </div>
        <br />
    {% endfor %}
{% endblock %}